.item-form {
  margin-bottom: 20px;
}
.item-form label {
  display: block;
  margin: 10px;
}
.item-form input {
  margin-left: 10px;
}
.item-form button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: lightgray;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
} 
.item-form button:hover {
  background-color: green;
}

.item-action {
  margin-top: 10px;
}
